<!DOCTYPE html>
<html lang="en">
<head>

    {% include "head.html" %}

    <script defer src="js/app/index.js"></script>
    <link rel="stylesheet" href="css/app/style.css">
    <link rel="stylesheet" href="css/app/style.css">
    <title>Куркулятор</title>
</head>
    <body>
        <h1>Не издевайся надо мной, УРА-сан!</h1>
        <h2>Ijiranaide, URA-san!</h2>
        <img src="img/nagatoro.png" alt="">
        <div class="forms">
            <div class="names">
                <p class="name">Начальная сумма</p>
                <p class="name">Процент</p>
                <p class="name">Количество</p>
                <p class="name">Инфляция</p>
                <p class="name">Конечная сумма</p>
            </div>
            <form>
                <input type="text" id="amount_at_start" placeholder="Начальная сумма"/>
                <input type="text" id="deposit_percent" placeholder="Процент"/>
                <input type="text" id="ages" placeholder="Количество лет"/>
                <input type="text" value="4" id="inflation_rate" placeholder="Инфляция"/>
                <input type="text" id="amount_at_end" placeholder="Конечная сумма">
                <input id="submit" type="submit" value="Рассчитать"/>
            </form>
        </div>
    </body>
</html>